$h1-font-size: 26px

$font-color: rgb(204, 72, 72)

$h1-font-size-web: 50px

#scale-singing-container
    margin: 10px 20px
    // hr.style-two
    //     border: 0
    //     height: 1px
    //     background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0))


#scale-singing-setting-wrap
    h1
        font-size: $h1-font-size
        color: $font-color
    
    #play-time-interval-wrap
        margin: 10px 0px
        h1
            margin: 0px 0px 5px 0px
        input
            margin: 5px 0px 5px 0px
            width: 25px
            color: $font-color
        label
            color: $font-color
            // margin: 5px 0px 10px 0px
    
    #start-note-wrap
        select
            margin: 5px 0px 5px 0px
            color: $font-color
        label
            color: $font-color

    #end-note-wrap
        select
            margin: 5px 0px 5px 0px
            color: $font-color
        label
            color: $font-color


#pratice-list-wrap
    .item-wrap
        margin: 5px 0px
        // border: 2px solid #dedede
        // background-color: #f1f1f1
        border-radius: 5px
        background-color: transparent
        width: 200px
        color: $font-color
        // background-color: red
        // span
        //     margin-left: 2px
        //     color: $font-color

@media screen and ( min-width: 800px )
    #scale-singing-container
        display: flex
        justify-content: center
        // margin: auto
        hr
            // display: none
        h1
            font-size: $h1-font-size-web
        #scale-singing-setting-wrap
            margin: 40px 40px

            #play-time-interval-wrap
                input
                    width: 35px
                    font-size: 25px
            
            label
                font-size: 25px
            select
                font-size: 25px

        #pratice-list-wrap
            margin: auto 40px

            .item-wrap
                width: 300px
                height: 60px
                display: flex
                justify-content: center
                align-items: center
                color: $font-color
                font-size: 25px
                background-color: transparent
                // span
                //     font-size: 25px
                    

        
    

